<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t.inotes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/inotes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inotes"
        android:supportsRtl="true"
        android:theme="@style/Theme.INotes">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singleset"
            android:exported="true"
            android:label="Problem Set 🤔"
            android:parentActivityName=".practice_set" />
        <activity
            android:name=".practice_set"
            android:exported="true"
            android:label="Practice Sets 👩‍💻"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nav_code"
            android:label="Code Compiler 🔥"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".playmusic"
            android:label="iMusic 🎶❤"
            android:parentActivityName=".music" />
        <activity
            android:name=".music"
            android:label="iMusic 🎶"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.INotes.NoActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>